<form action="/add-question" method="post">
    <label for="question">Question</label><br>
    <input type="text-area" name="question" id="question"><br>
    <label for="op1">option 1</label><br>
    <input type="text" name="op1" id="op1"><br>
    <label for="op2">option 2</label><br>
    <input type="text" name="op2" id="op2"><br>
    <label for="op1">option 3</label><br>
    <input type="text" name="op3" id="op3"><br>
    <label for="op1">option 4</label><br>
    <input type="text" name="op4" id="op4"><br>
    <button type="submit">Submit</button>
</form>