<body>
    <form action="/login" method="post">
        <h1>Login</h1>
        <label for="email">EMAIL</label>
        <input type="email" name="email" id="email">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</body>