<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let totalQuestion=2;
    var count = 0;
    var score = 0;
    var prev = -1;
    const url = window.location.href;
    const origin = window.location.origin;
    const subject = url.split('?')[1].split('=')[1];
    console.log(subject);
    console.log(window.location.href);
    async function getQuestion(){
        const question = await axios.post(origin+"/home/get-question",{subject});
        return question;
    }
    async function saveScore(){
        const r = await axios.post(origin+"/home/savescore",{score:score,subject:subject});
    }
    async function nextQuestion(){
        if(count!=0){
            const radioOptions = document.querySelectorAll("input[type=radio]");
            radioOptions.forEach(option=>{
                if(option.checked && option.value==prev){
                    // console.log("value",option.value,prev);
                    score++;
                }
                option.checked=false;
            })
        }
        count++;
        if(count>totalQuestion){
            console.log("test over",score);
            document.getElementById("score").hidden='';
            document.getElementById("test").hidden='hidden';
            document.getElementById("score").innerHTML="<h1>Score is "+score + '.';
            saveScore();
            return;
        }
        
        const question = await getQuestion();
        
        console.log(question.data)
        prev = question.data.correct;
        document.getElementById('qno').innerText=count;
        document.getElementById('question').innerText=question.data.question;
        document.getElementById('opl1').innerText=question.data.op1;
        document.getElementById('opl2').innerText=question.data.op2;
        document.getElementById('opl3').innerText=question.data.op3;
        document.getElementById('opl4').innerText=question.data.op4;    
        
    }
        const startTest = () =>{
            document.getElementById("start").hidden='hidden';
            document.getElementById("test").hidden='';
            nextQuestion();
        }
    
</script>
<body>

    <div id="start">
        <button onclick="startTest()"> Start Test </button>
    </div>

    <div id="test" hidden>
        <h2 id="qno"></h2><h2 id="question"></h2>
            <input type="radio" id="op1" name="option" value="0">
            <label for="op1" id="opl1"></label><br>
            <input type="radio" id="op2" name="option" value="1">
            <label for="op2" id="opl2"></label><br>
            <input type="radio" id="op3" name="option" value="2">
            <label for="op3" id="opl3"></label><br>
            <input type="radio" id="op4" name="option" value="3">
            <label for="op4" id="opl4"></label><br>
            <button id="start-test" onclick="nextQuestion(this)">Next Question</button>
    </div>
    <div id="score" hidden ></div>
</body>